body {
    font-size: 12px;
    text-align: center;
    background-color: #333132;
    color: white;
}

.banner {
    background-image: url("imagens/banner.webp");
}

.itens {
    font-style: italic;
}

.lista {
    background-color: white;
    color: black;
    text-align: left;
}